<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <script src="~/Compiledmodules/Sourcescripts/UpdateStatus.js"></script>
    <script src="~/Compiledmodules/Sourcescripts/validate.js"></script>
    <script data-main="../Compiledmodules/Sourcescripts/app.js" src="~/Scripts/require.js"></script>

    <title></title>
</head>
<body>

    <div>
        Enter your mobile number: <input id="mobnum" type="text" /><br />

    </div>

    <div><span id="message"></span></div>
    <input type="button" class="btn-default" id="submit" value="Submit"  />
   
</body>

</html>
